@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono";
  background: #fbfbfb;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30svh;
  width: 100%;
}

#session-label{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  color: #474747;
}
#break-label{
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  color: #474747;
}
.timer-container{
  background: #FDFDFD;
  box-shadow: 0px 23px 41px rgba(71, 71, 71, 0.08);
  border-radius: 26px;
  width: 18.75rem;
  height: 8.5rem;
  margin:0 1rem;
}
.timer-content{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: transparent;
}
#break-decrement, #session-decrement{
  border: none;
  outline: none;
  background-color: transparent;
  transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#break-decrement:hover, #session-decrement:hover{
  transform: translateY(5px);
}
#break-increment, #session-increment{
  border: none;
  outline: none;
  background-color: transparent;
  transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#break-increment:hover, #session-increment:hover{
  transform: translateY(-5px);
}
#break-length, #session-length{
  margin: 0 1rem;
  color: #474747;
}
.clock-container{
  background-color: #FDFDFD;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70svh;
}
.clock{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 21.875rem;
  height: 21.875rem;
  border-radius: 50%;
  background: #FDFDFD;
  border: 2px solid #FAFAFA;
  box-shadow: 0px -4px 15px #FDFDFD, 0px 6px 11px rgba(0, 0, 0, 0.1), inset 0px 0px 2px rgba(0, 0, 0, 0.05);
}
.clock-rim{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18.75rem;
  height: 18.75rem;
  background: #FDFDFD;
  box-shadow: inset 0px 0px 20px rgba(159, 159, 159, 0.2);
  border-radius: 50%;
}
#timer-label{
  font-weight: 400;
  margin-bottom: 1rem;
  color: #474747;
}
#time-left{
  font-size: 4rem;
  font-weight: 300;
  color: #474747;
}
.buttons{
  margin-top: 2rem;
  display: flex;

}
button{
  border: none;
  display: flex;
  align-items: center;
  margin: 0 .5rem;
  transition: .3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#start_stop{
  border: none;
  outline: none;
  height: auto;
  box-shadow: drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.15));
}
#start_stop:hover{
  transform: scale(1.05);
}
#reset{
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: drop-shadow(0px 2px 16px rgba(0, 0, 0, 0.15));
}
#reset:hover{
  transform: rotateZ(90deg);
}

@media screen and (max-width:414px){
  .timer-container{
    width: 10rem;
  }
  .dec{
    width: 30px;
  }
  .inc{
    width: 30px;
  }
}
